* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.netflix_effect { 
    position: relative;
    background-image: url('../img/flag-cameroon.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0; /* Adjust padding as needed */
  }

.netflix_effect::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(20px);
}

.netflix_effect h1 , .netflix_effect p , .netflix_effect a{
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.gallery-home img{
    width: 120px;
    height:70px;
}

.donate-now{
    background-color: purple;
    border: none;
    color:white;
}

.donate-block{
    background-color: rgba(23, 23, 83, 0.623);
    border-radius: 5px;
}

.social-network{
    background-color: rgba(23, 23, 83, 0.623);
}

.donation-amount-block{
    position:relative;
    top: 20px;
    left: 20px;
}